.gameover {
    background: rgba(255, 255, 255, .8);
    bottom: 5px;
    color: #3d4250;
    left: 5px;
    padding-top: 110px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 450px;
    z-index: 11;
}

.gameover h2 {
    font-size: 40px;
    font-weight: 300;
}